<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About this site</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> Podcast Updates </h1>
    <p> This is a Python-based application that provides updates on which of a list of podcasts have updated in the last 10 days.</p>
    <p> The program was constructed using the spotipy wrapper for the Spotify API, while the web development relies on Flask. </p>
    {% endblock %}
  </body>
</html>